	<div class="header">
		<div class="container">
			<div class="row">
			  <div class="col-md-12">
				 <div class="header-left">
					 <div class="logo">
						<a href="index.html"><img src="{{ asset('images/logo.png') }}" alt=""/></a>
					 </div>
					 <div class="menu">
						  <a class="toggleMenu" href="#"><img src="{{ asset('images/nav.png') }}" alt="" /></a>
						    <ul class="nav" id="nav">
						    	<li><a href="{{ path('home') }}">Accueil</a></li>
						    	<li><a href="#figures">Figures</a></li>
								{% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN') %}
								<li><a href="{{ path('categories_list') }}">Catégories</a></li>
								{% endif %}
								{% if is_granted('IS_AUTHENTICATED_FULLY') %}
								<li><a href="{{ path('user_edit', {'id': app.user.id}) }}">Profil</a></li>
								<li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
								{% else %}
						    	<li><a href="{{ path('app_login') }}">Connexion</a></li>
						    	<li><a href="{{ path('app_register') }}">Inscription</a></li>
								{% endif %}
								<div class="clear"></div>
							</ul>
							<script type="text/javascript" src="{{ asset('js/responsive-nav.js') }}"></script>
				    </div>							
	    		    <div class="clear"></div>
	    	    </div>
	      </div>
		 </div>
	    </div>
	</div>