{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Accueil{% endblock %}

{% block body %}

{% include 'header.html.twig' %}

	<div class="banner">
	<!-- start slider -->
       <div id="fwslider">
         <div class="slider_container">
            <div class="slide"> 
                <!-- Slide image -->
               <img src="images/slider1.jpg" class="img-responsive" alt=""/>
                <!-- /Slide image -->
                <!-- Texts container -->
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <!-- Text title -->
                        <h1 class="title">Run Over<br>Everything</h1>
                        <!-- /Text title -->
                        <div class="button"><a href="#figures">Voir les figures</a></div>
                    </div>
                </div>
               <!-- /Texts container -->
            </div>
            <!-- /Duplicate to create more slides -->
            <div class="slide">
               <img src="images/slider2.jpg" class="img-responsive" alt=""/>
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <h1 class="title">Run Over<br>Everything</h1>
                       	<div class="button"><a href="#figures">Voir les figures</a></div>
                    </div>
                </div>
            </div>
            <!--/slide -->
        </div>
        <div class="timers"></div>
        <div class="slidePrev"><span></span></div>
        <div class="slideNext"><span></span></div>
       </div>
       <!--/slider -->
      </div>
	  <div class="main">
	</div>
	<div class="features" id="figures">
		<div class="container">
			<h3 class="m_3">Figures</h3>
			<div class="close_but"><i class="close1"> </i></div>
      {% if is_granted('ROLE_ADMIN') %}<center><a href="{{ path('trick_add') }}"><input name="submit" type="button" id="submit" value="Ajouter une nouvelle figure"></a></center><br />{% endif %}
			  <div class="row">
        {% for trick in tricks %}

        <div class="col-md-4 trick">
				<div class="img_section magnifier2">
				  <a class="fancybox" style="color: white;" href="{{ path('trick_details', {'trickid': trick.id}) }}" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="{{ asset('images/tricks/'~ trick.main_image ~'') }}" class="img-responsive" width="361" height="268" style="margin-bottom: 10px;"><span> </span>
					<div class="img_section_txt">
						<strong>{{ trick.name }}</strong> {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('trick_edit', {'id': trick.id }) }}"><img src="{{ asset('images/edit.png') }}"/></a> <a href="{{ path('trick_delete', {'id': trick.id }) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer cette figure?')"><img src="{{ asset('images/delete.png') }}"/></a>{% endif %}
					</div>
				</a></div>
				</div>
        {% endfor %}
			</div>
      			<div class="row justify-content-center m-3">
			<a href="#" id="loadMoreTrick"><img src="{{ asset('images/loadmore.png') }}"></a>
      <a href="#" id="loadLessTrick">MOINS</a>
			</div>
		 </div>
	    </div>

<script>

    $("div.trick").slice(6, $("div.trick").length).hide();
    $("#loadMoreTrick").on('click', function (e) {
        e.preventDefault();
        $("div.trick:hidden").slice(0, 6).slideDown();
        if ($("div.trick:hidden").length == 0) {
            $("#loadMoreTrick").hide('slow');
            $("#loadLessTrick").show('slow');
        }
    });
    $("#loadLessTrick").on('click', function (e) {
        e.preventDefault();
        $("div.trick").slice(6, $("div.trick").length).hide();
        $("#loadLessTrick").hide('slow');
        $("#loadMoreTrick").show('slow');

    });
});

</script>

{% include 'footer.html.twig' %}

{% endblock %}